
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main style="background: url('../Assets/image/bg_4.jpg')">

    <div class="order-now" style="cursor:pointer">
        <a href="/Home/Menu">
            <img src="~/Assets/image/buy-now-icon.jpg" alt="buy now"
                 class="order-now-btn">
        </a>
    </div>

    <div class="titile-bg" style="background: url('../Assets/image/bg_3.jpg')">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="titile-name">Về chúng tôi</div>
            </div>
        </div>
        <div class="text-shadow"></div>
    </div>

    <div class="container-fluid" style="padding:0px">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 px-0 mx-0">
                <div class="our-story-left">
                    <img src="~/Assets/image/about.jpg" alt="out story" class="img-our-story-left">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 justify-content-center align-self-center abcd">
                <div class="our-story-right-content">
                    <h2 class="our-story-right-title">
                        Câu chuyện về baristas
                    </h2>
                    <div class="our-story-right-detail">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        In pretium sagittis nisi, sed varius mauris euismod in.
                        Ut eu cursus ipsum, eget viverra tortor.
                        Pellentesque suscipit est ac tortor maximus imperdiet.
                        Sed blandit lacinia quam, eu tincidunt est imperdiet eget.
                        Donec porta vehicula turpis quis aliquet.
                        Nam venenatis quis arcu non bibendum. Aenean volutpat sodales commodo. Aliquam non faucibus dolor.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid px-0 mx-0">
        <div class="row titile-bg px-0 mx-0" style="background: url('../Assets/image/bg_1.jpg'); width: 100%; position: relative; height: 440px;">
            <div class="container our-vision align-self-center ">
                <div class="row ">
                    <div class="col-lg-12 text-center">
                        <h2 class="our-story-right-title ">
                            Tầm nhìn, giá trị cốt lõi
                        </h2>
                    </div>
                    <div class="col-lg-12">
                        <ul class="our-story-right-detail text-center">
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                            <li>In pretium sagittis nisi, sed varius mauris euismod in. </li>
                            <li>Ut eu cursus ipsum, eget viverra tortor. </li>
                            <li>Pellentesque suscipit est ac tortor maximus imperdiet. </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="text-shadow"></div>
        </div>
    </div>

    <div class="container-fluid about-our-menu">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="our-menu-left">
                        <h2 class="our-menu-left-title">
                            Menu của chúng tôi
                        </h2>
                        <div class="our-menu-left-detail">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            In pretium sagittis nisi, sed varius mauris euismod in.
                            Ut eu cursus ipsum, eget viverra tortor.
                            Pellentesque suscipit est ac tortor maximus imperdiet.
                            Sed blandit lacinia quam, eu tincidunt est imperdiet eget.
                        </div>
                        <button class="news-btn btn1 my-3 float-right" style="color: #c49b63;">
                            Xem Thêm
                        </button>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div class="menu-entry">
                                <a href="#" class="about-our-menu-img" style="background: url('../Assets/image/menu-1.jpg')"></a>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="menu-entry mt-lg-4">
                                <a href="#" class="about-our-menu-img" style="background: url('../Assets/image/menu-2.jpg')"></a>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="menu-entry">
                                <a href="#" class="about-our-menu-img" style="background: url('../Assets/image/menu-3.jpg')"></a>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="menu-entry  mt-lg-4">
                                <a href="#" class="about-our-menu-img" style="background: url('../Assets/image/menu-4.jpg')"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-shadow"></div>
        </div>
    </div>

    <div class="container">
        <div class="row py-3">
            <h2 class="our-story-right-title">
                Vị trí của Baristas
            </h2>
        </div>
        <div class="row py-3">
            <iframe class="map-iframe"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.1236023274328!2d106.80402001462339!3d10.878202492252488!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174d8afbfc45a51%3A0x1398270b44ee3abf!2sKTX%20khu%20A%20-%20%C4%90HQG%20TPHCM!5e0!3m2!1svi!2s!4v1589094542591!5m2!1svi!2s"
                    frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                    tabindex="0">
            </iframe>
        </div>
    </div>
</main>
