
@{
    ViewBag.Title = "Booking";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string message = ViewBag.Message;
    string successMessage = ViewBag.SuccessMessage;
}

<main>

    <div class="container-fluid px-0 mx-0">
        <div class="row reservation-bg mx-0">
            <div class="col-sm-12 reservation-title align-self-center">
                <div class="reservation-title ">Đặt bàn</div>
            </div>
            <div class="text-shadow"></div>
        </div>
    </div>

    <div class="container">
        <div class="row reservation my-5">
            <div class="container">
                <div class="row mt-5 ">
                    <div class="col-lg-12 col-sm-12">
                        <p>*Sau khi xác nhận thông tin đặt bàn, chúng tôi sẽ liên lạc lại cho bạn trong thời gian sớm nhất*</p>
                    </div>
                </div>
            </div>
            <div class="container">
                @using (Html.BeginForm("Booking", "Home", FormMethod.Post, new { @class = "form" }))
                {
                    @Html.AntiForgeryToken()
                    if (!string.IsNullOrEmpty(successMessage))
                    {
                        <div class="alert alert-success" role="alert">
                            @Html.Raw(successMessage)
                        </div>
                    }
                    if (!string.IsNullOrEmpty(message))
                    {
                        <div class="alert alert-danger" role="alert">
                            @Html.Raw(message)
                        </div>
                    }
                    <div class="form-group">
                        <label for="CustomerName">Họ và tên</label>
                        <input type="text" placeholder="Nhập họ tên" class="form-control" id="CustomerName" name="CustomerName">
                    </div>

                    <div class="form-group">
                        <label for="Phone">Số điện thoại</label>
                        <input type="text" placeholder="Nhập số điện thoại" class="form-control" id="Phone" name="Phone">
                    </div>

                    <div class="form-group">
                        <label for="NumberCustomer">Số lượng khách</label>
                        <input type="number" placeholder="Nhập số lượng khách" class="form-control" id="NumberCustomer" name="NumberCustomer">
                    </div>

                    <div class="form-group">
                        <label for="BookingDate">Ngày đặt bàn</label>
                        <input type="date" class="form-control" id="BookingDate" name="BookingDate">
                    </div>

                    <div class="form-group">
                        <label for="BookingTime">Thời gian check-in</label>
                        <input type="time" class="form-control" id="BookingTime" name="BookingTime">
                    </div>

                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary">Đặt bàn</button>
                    </div>
                }
            </div>
        </div>
    </div>
</main>
