USE [master]
GO
/****** Object:  Database [Baristas]    Script Date: 6/23/2020 1:27:10 PM ******/
CREATE DATABASE [Baristas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Baristas', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Baristas.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Baristas_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Baristas_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Baristas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Baristas]
GO
/****** Object:  Table [dbo].[AboutUs]    Script Date: 6/23/2020 1:27:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AboutUs](
	[AboutUsID] [int] IDENTITY(1,1) NOT NULL,
	[OurStory] [nvarchar](250) NULL,
	[OurStoryImage] [nvarchar](max) NULL,
	[OurVision1] [nvarchar](250) NULL,
	[OurVision2] [nvarchar](250) NULL,
	[OurVision3] [nvarchar](250) NULL,
	[OurVision4] [nvarchar](250) NULL,
	[OurMenu] [nvarchar](250) NULL,
	[OurMenuImage1] [nvarchar](max) NULL,
	[OurMenuImage2] [nvarchar](max) NULL,
	[OurMenuImage3] [nvarchar](max) NULL,
	[OurMenuImage4] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[AboutUsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Account]    Script Date: 6/23/2020 1:27:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[AccountID] [int] IDENTITY(1,1) NOT NULL,
	[AccountTypeID] [int] NULL,
	[UserName] [nvarchar](250) NULL,
	[Password] [nvarchar](250) NULL,
	[Email] [nvarchar](250) NULL,
	[CustomerName] [nvarchar](250) NULL,
	[Address] [nvarchar](250) NULL,
	[Phone] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AccountType]    Script Date: 6/23/2020 1:27:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountType](
	[AccountTypeID] [int] IDENTITY(1,1) NOT NULL,
	[AccountTypeName] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Bill]    Script Date: 6/23/2020 1:27:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bill](
	[BillID] [int] IDENTITY(1,1) NOT NULL,
	[AccountID] [int] NULL,
	[CreatedDate] [date] NULL DEFAULT (getdate()),
	[Total] [decimal](18, 0) NULL,
	[Discount] [float] NULL,
	[TotalDiscount] [decimal](18, 0) NULL,
	[Noted] [nvarchar](max) NULL,
	[CustomerName] [nvarchar](250) NULL,
	[CustomerPhoneNumber] [nvarchar](250) NULL,
	[ShippingAddress] [nvarchar](250) NULL,
	[IsPaid] [bit] NULL,
	[PaymentID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[BillID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BillDetails]    Script Date: 6/23/2020 1:27:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillDetails](
	[BillDetailID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NULL,
	[BillID] [int] NULL,
	[Quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[BillDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BookingTable]    Script Date: 6/23/2020 1:27:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingTable](
	[BookingTableID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [nvarchar](250) NULL,
	[Phone] [nvarchar](250) NULL,
	[NumberCustomer] [int] NULL,
	[BookingDate] [date] NULL,
	[BookingTime] [time](7) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingTableID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Comment]    Script Date: 6/23/2020 1:27:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[CommentID] [int] IDENTITY(1,1) NOT NULL,
	[AccountID] [int] NULL,
	[ProductID] [int] NULL,
	[NewsID] [int] NULL,
	[Content] [nvarchar](max) NULL,
	[PostDate] [date] NULL,
	[RootCommentID] [int] NULL,
	[ReplyCommentToID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Discount]    Script Date: 6/23/2020 1:27:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discount](
	[DiscountID] [int] IDENTITY(1,1) NOT NULL,
	[DiscountCode] [nvarchar](250) NULL,
	[DiscountPercent] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[DiscountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FeedBack]    Script Date: 6/23/2020 1:27:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FeedBack](
	[FeedBackID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [nvarchar](250) NULL,
	[Email] [nvarchar](250) NULL,
	[Age] [nvarchar](250) NULL,
	[Job] [nvarchar](250) NULL,
	[Another] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[FeedBackID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Footer]    Script Date: 6/23/2020 1:27:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Footer](
	[FooterID] [int] IDENTITY(1,1) NOT NULL,
	[OpenTime1] [nvarchar](250) NULL,
	[OpenTime2] [nvarchar](250) NULL,
	[Phone] [nvarchar](250) NULL,
	[Email] [nvarchar](250) NULL,
	[Address] [nvarchar](250) NULL,
	[FacebookLink] [nvarchar](max) NULL,
	[InstaLink] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[FooterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HaveSize]    Script Date: 6/23/2020 1:27:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HaveSize](
	[HaveSizeID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NULL,
	[ProductSizeID] [int] NULL,
	[Prices] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[HaveSizeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HomePageContent]    Script Date: 6/23/2020 1:27:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HomePageContent](
	[HomePageContentID] [int] IDENTITY(1,1) NOT NULL,
	[StoreContent] [nvarchar](max) NULL,
	[StoreImage] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[HomePageContentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HomePageSilder]    Script Date: 6/23/2020 1:27:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HomePageSilder](
	[SilderID] [int] IDENTITY(1,1) NOT NULL,
	[Image] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Link] [nvarchar](max) NULL,
	[DisplayOrder] [int] NULL,
	[CreatedDate] [date] NULL,
	[CreatedBy] [nvarchar](250) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[SilderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[News]    Script Date: 6/23/2020 1:27:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[NewsID] [int] IDENTITY(1,1) NOT NULL,
	[NewsCateID] [int] NULL,
	[NewsName] [nvarchar](250) NULL,
	[Content] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[CreatedDate] [date] NULL DEFAULT (getdate()),
	[CreatedBy] [nvarchar](250) NULL,
	[ModifyDate] [date] NULL,
	[ModifyBy] [nvarchar](250) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[NewsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NewsCategory]    Script Date: 6/23/2020 1:27:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NewsCategory](
	[NewsCateID] [int] IDENTITY(1,1) NOT NULL,
	[NewsCateName] [nvarchar](250) NULL,
	[CreatedDate] [date] NULL DEFAULT (getdate()),
	[CreatedBy] [nvarchar](250) NULL,
	[ModifyDate] [date] NULL,
	[ModifyBy] [nvarchar](250) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[NewsCateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Payment]    Script Date: 6/23/2020 1:27:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[PaymentStatus] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Product]    Script Date: 6/23/2020 1:27:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductCateID] [int] NULL,
	[ProductName] [nvarchar](250) NULL,
	[Discount] [float] NULL,
	[Description] [nvarchar](max) NULL,
	[image] [nvarchar](max) NULL,
	[CreatedDate] [date] NULL DEFAULT (getdate()),
	[CreatedBy] [nvarchar](250) NULL,
	[ModifyDate] [date] NULL,
	[ModifyBy] [nvarchar](250) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductCategory]    Script Date: 6/23/2020 1:27:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategory](
	[ProductCateID] [int] IDENTITY(1,1) NOT NULL,
	[CateName] [nvarchar](250) NULL,
	[CreatedDate] [date] NULL DEFAULT (getdate()),
	[CreatedBy] [nvarchar](250) NULL,
	[ModifyDate] [date] NULL,
	[ModifyBy] [nvarchar](250) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductCateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductSize]    Script Date: 6/23/2020 1:27:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductSize](
	[ProductSizeID] [int] IDENTITY(1,1) NOT NULL,
	[SizeName] [nvarchar](250) NULL,
	[CreatedDate] [date] NULL DEFAULT (getdate()),
	[CreatedBy] [nvarchar](250) NULL,
	[ModifyDate] [date] NULL,
	[ModifyBy] [nvarchar](250) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductSizeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Rating]    Script Date: 6/23/2020 1:27:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rating](
	[RatingID] [int] IDENTITY(1,1) NOT NULL,
	[AccountID] [int] NULL,
	[ProductID] [int] NULL,
	[NumberStar] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[RatingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tags]    Script Date: 6/23/2020 1:27:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tags](
	[TagsID] [int] IDENTITY(1,1) NOT NULL,
	[TagsName] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[TagsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TagsNews]    Script Date: 6/23/2020 1:27:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TagsNews](
	[TagsID] [int] NULL,
	[NewsID] [int] NULL,
	[TagsNewsID] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TagsNewsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([AccountID], [AccountTypeID], [UserName], [Password], [Email], [CustomerName], [Address], [Phone]) VALUES (1, 1, N'admin', N'123456', NULL, NULL, NULL, NULL)
INSERT [dbo].[Account] ([AccountID], [AccountTypeID], [UserName], [Password], [Email], [CustomerName], [Address], [Phone]) VALUES (2, 2, N'thaihoa', N'123456', N'thaihoa@gmail.com', N'Nguyễn Thái Hoà', N'1 Lê Duẩn, Q.1, TP.HCM', N'012345678')
INSERT [dbo].[Account] ([AccountID], [AccountTypeID], [UserName], [Password], [Email], [CustomerName], [Address], [Phone]) VALUES (3, 2, N'duythien', N'098765', N'duythien@gmail.com', N'Đỗ Duy Thiện', N'10 Phan Văn Trị, Quận Bình Thạnh, TP Hồ Chí Minh', N'023456789')
SET IDENTITY_INSERT [dbo].[Account] OFF
SET IDENTITY_INSERT [dbo].[AccountType] ON 

INSERT [dbo].[AccountType] ([AccountTypeID], [AccountTypeName]) VALUES (1, N'Admin')
INSERT [dbo].[AccountType] ([AccountTypeID], [AccountTypeName]) VALUES (2, N'Customer')
SET IDENTITY_INSERT [dbo].[AccountType] OFF
SET IDENTITY_INSERT [dbo].[Bill] ON 

INSERT [dbo].[Bill] ([BillID], [AccountID], [CreatedDate], [Total], [Discount], [TotalDiscount], [Noted], [CustomerName], [CustomerPhoneNumber], [ShippingAddress], [IsPaid], [PaymentID]) VALUES (1, 2, CAST(N'2020-06-15' AS Date), CAST(90000 AS Decimal(18, 0)), 1, CAST(90000 AS Decimal(18, 0)), NULL, N'asd', N'123123', N'123123123123', 0, 2)
INSERT [dbo].[Bill] ([BillID], [AccountID], [CreatedDate], [Total], [Discount], [TotalDiscount], [Noted], [CustomerName], [CustomerPhoneNumber], [ShippingAddress], [IsPaid], [PaymentID]) VALUES (2, 2, CAST(N'2020-06-19' AS Date), CAST(23200 AS Decimal(18, 0)), NULL, CAST(23200 AS Decimal(18, 0)), N'gbjjnyjmujgyfgg', N'Nguyễn Văn A', N'11', N'123123 asdasd', 0, 2)
SET IDENTITY_INSERT [dbo].[Bill] OFF
SET IDENTITY_INSERT [dbo].[BillDetails] ON 

INSERT [dbo].[BillDetails] ([BillDetailID], [ProductID], [BillID], [Quantity]) VALUES (1, 4, 1, 2)
INSERT [dbo].[BillDetails] ([BillDetailID], [ProductID], [BillID], [Quantity]) VALUES (2, 1, 2, 1)
SET IDENTITY_INSERT [dbo].[BillDetails] OFF
SET IDENTITY_INSERT [dbo].[BookingTable] ON 

INSERT [dbo].[BookingTable] ([BookingTableID], [CustomerName], [Phone], [NumberCustomer], [BookingDate], [BookingTime], [IsActive]) VALUES (1, N'Nguyễn Văn A', N'11', 1, CAST(N'2020-06-20' AS Date), CAST(N'06:17:00' AS Time), 0)
INSERT [dbo].[BookingTable] ([BookingTableID], [CustomerName], [Phone], [NumberCustomer], [BookingDate], [BookingTime], [IsActive]) VALUES (2, N'Nguyễn Thái Hoà', N'12312313', 12, CAST(N'2020-06-25' AS Date), CAST(N'17:43:00' AS Time), 0)
INSERT [dbo].[BookingTable] ([BookingTableID], [CustomerName], [Phone], [NumberCustomer], [BookingDate], [BookingTime], [IsActive]) VALUES (3, N'Nguyễn Thái Hoà', N'12312312', 12, CAST(N'2020-06-22' AS Date), CAST(N'20:59:00' AS Time), 0)
SET IDENTITY_INSERT [dbo].[BookingTable] OFF
SET IDENTITY_INSERT [dbo].[Discount] ON 

INSERT [dbo].[Discount] ([DiscountID], [DiscountCode], [DiscountPercent]) VALUES (1, N'GIAMGIA10', 0.1)
INSERT [dbo].[Discount] ([DiscountID], [DiscountCode], [DiscountPercent]) VALUES (2, N'GIAMGIA20', 0.2)
INSERT [dbo].[Discount] ([DiscountID], [DiscountCode], [DiscountPercent]) VALUES (3, N'GIAMGIA15', 0.3)
SET IDENTITY_INSERT [dbo].[Discount] OFF
SET IDENTITY_INSERT [dbo].[HaveSize] ON 

INSERT [dbo].[HaveSize] ([HaveSizeID], [ProductID], [ProductSizeID], [Prices]) VALUES (6, 1, 1, CAST(29000 AS Decimal(18, 0)))
INSERT [dbo].[HaveSize] ([HaveSizeID], [ProductID], [ProductSizeID], [Prices]) VALUES (7, 1, 2, CAST(35000 AS Decimal(18, 0)))
INSERT [dbo].[HaveSize] ([HaveSizeID], [ProductID], [ProductSizeID], [Prices]) VALUES (8, 1, 3, CAST(40000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[HaveSize] OFF
SET IDENTITY_INSERT [dbo].[News] ON 

SET IDENTITY_INSERT [dbo].[News] OFF
SET IDENTITY_INSERT [dbo].[NewsCategory] ON 

INSERT [dbo].[NewsCategory] ([NewsCateID], [NewsCateName], [CreatedDate], [CreatedBy], [ModifyDate], [ModifyBy], [IsActive]) VALUES (1, N'Tin tức', CAST(N'2020-06-07' AS Date), N'admin', NULL, NULL, 1)
INSERT [dbo].[NewsCategory] ([NewsCateID], [NewsCateName], [CreatedDate], [CreatedBy], [ModifyDate], [ModifyBy], [IsActive]) VALUES (2, N'Khuyến mãi', CAST(N'2020-06-07' AS Date), N'admin', NULL, NULL, 1)
INSERT [dbo].[NewsCategory] ([NewsCateID], [NewsCateName], [CreatedDate], [CreatedBy], [ModifyDate], [ModifyBy], [IsActive]) VALUES (3, N'Chia sẻ', CAST(N'2020-06-07' AS Date), N'admin', NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[NewsCategory] OFF
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([PaymentID], [PaymentStatus]) VALUES (1, N'Offline')
INSERT [dbo].[Payment] ([PaymentID], [PaymentStatus]) VALUES (2, N'Online')
INSERT [dbo].[Payment] ([PaymentID], [PaymentStatus]) VALUES (3, N'MoMo')
SET IDENTITY_INSERT [dbo].[Payment] OFF
SET IDENTITY_INSERT [dbo].[Product] ON 

SET IDENTITY_INSERT [dbo].[Product] OFF
SET IDENTITY_INSERT [dbo].[ProductCategory] ON 

INSERT [dbo].[ProductCategory] ([ProductCateID], [CateName], [CreatedDate], [CreatedBy], [ModifyDate], [ModifyBy], [IsActive]) VALUES (1, N'Cà phê', CAST(N'2020-06-07' AS Date), N'admin', NULL, NULL, 1)
INSERT [dbo].[ProductCategory] ([ProductCateID], [CateName], [CreatedDate], [CreatedBy], [ModifyDate], [ModifyBy], [IsActive]) VALUES (2, N'Đá xay', CAST(N'2020-06-07' AS Date), N'admin', NULL, NULL, 1)
INSERT [dbo].[ProductCategory] ([ProductCateID], [CateName], [CreatedDate], [CreatedBy], [ModifyDate], [ModifyBy], [IsActive]) VALUES (3, N'Yogurt', CAST(N'2020-06-07' AS Date), N'admin', NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[ProductCategory] OFF
SET IDENTITY_INSERT [dbo].[ProductSize] ON 

INSERT [dbo].[ProductSize] ([ProductSizeID], [SizeName], [CreatedDate], [CreatedBy], [ModifyDate], [ModifyBy], [IsActive]) VALUES (1, N'S', CAST(N'2020-06-07' AS Date), N'admin', NULL, NULL, 1)
INSERT [dbo].[ProductSize] ([ProductSizeID], [SizeName], [CreatedDate], [CreatedBy], [ModifyDate], [ModifyBy], [IsActive]) VALUES (2, N'M', CAST(N'2020-06-07' AS Date), N'admin', NULL, NULL, 1)
INSERT [dbo].[ProductSize] ([ProductSizeID], [SizeName], [CreatedDate], [CreatedBy], [ModifyDate], [ModifyBy], [IsActive]) VALUES (3, N'L', CAST(N'2020-06-07' AS Date), N'admin', NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[ProductSize] OFF
SET IDENTITY_INSERT [dbo].[Rating] ON 

INSERT [dbo].[Rating] ([RatingID], [AccountID], [ProductID], [NumberStar]) VALUES (1, 2, 1, 3)
INSERT [dbo].[Rating] ([RatingID], [AccountID], [ProductID], [NumberStar]) VALUES (2, 2, 2, 5)
INSERT [dbo].[Rating] ([RatingID], [AccountID], [ProductID], [NumberStar]) VALUES (3, 2, 1, 5)
SET IDENTITY_INSERT [dbo].[Rating] OFF
SET IDENTITY_INSERT [dbo].[Tags] ON 

INSERT [dbo].[Tags] ([TagsID], [TagsName]) VALUES (1, N'KHUYENMAI')
INSERT [dbo].[Tags] ([TagsID], [TagsName]) VALUES (2, N'CAFENGON')
INSERT [dbo].[Tags] ([TagsID], [TagsName]) VALUES (3, N'DONGHANHCUNGBARISTA')
SET IDENTITY_INSERT [dbo].[Tags] OFF
ALTER TABLE [dbo].[Comment] ADD  DEFAULT (getdate()) FOR [PostDate]
GO
ALTER TABLE [dbo].[HomePageSilder] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD FOREIGN KEY([AccountTypeID])
REFERENCES [dbo].[AccountType] ([AccountTypeID])
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD  CONSTRAINT [FK_Bill_PayMent] FOREIGN KEY([PaymentID])
REFERENCES [dbo].[Payment] ([PaymentID])
GO
ALTER TABLE [dbo].[Bill] CHECK CONSTRAINT [FK_Bill_PayMent]
GO
ALTER TABLE [dbo].[BillDetails]  WITH CHECK ADD FOREIGN KEY([BillID])
REFERENCES [dbo].[Bill] ([BillID])
GO
ALTER TABLE [dbo].[BillDetails]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD FOREIGN KEY([NewsID])
REFERENCES [dbo].[News] ([NewsID])
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD FOREIGN KEY([ReplyCommentToID])
REFERENCES [dbo].[Comment] ([CommentID])
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD FOREIGN KEY([RootCommentID])
REFERENCES [dbo].[Comment] ([CommentID])
GO
ALTER TABLE [dbo].[HaveSize]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[HaveSize]  WITH CHECK ADD FOREIGN KEY([ProductSizeID])
REFERENCES [dbo].[ProductSize] ([ProductSizeID])
GO
ALTER TABLE [dbo].[News]  WITH CHECK ADD FOREIGN KEY([NewsCateID])
REFERENCES [dbo].[NewsCategory] ([NewsCateID])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([ProductCateID])
REFERENCES [dbo].[ProductCategory] ([ProductCateID])
GO
ALTER TABLE [dbo].[Rating]  WITH CHECK ADD FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[Rating]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[TagsNews]  WITH CHECK ADD FOREIGN KEY([NewsID])
REFERENCES [dbo].[News] ([NewsID])
GO
ALTER TABLE [dbo].[TagsNews]  WITH CHECK ADD FOREIGN KEY([TagsID])
REFERENCES [dbo].[Tags] ([TagsID])
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD  CONSTRAINT [chk_bill_discount] CHECK  (([Discount]>=(0.1) AND [Discount]<=(1)))
GO
ALTER TABLE [dbo].[Bill] CHECK CONSTRAINT [chk_bill_discount]
GO
ALTER TABLE [dbo].[Discount]  WITH CHECK ADD  CONSTRAINT [chk_discount] CHECK  (([DiscountPercent]>=(0.1) AND [DiscountPercent]<=(1)))
GO
ALTER TABLE [dbo].[Discount] CHECK CONSTRAINT [chk_discount]
GO
ALTER TABLE [dbo].[Rating]  WITH CHECK ADD  CONSTRAINT [chk_rating] CHECK  (([NumberStar]>=(0) AND [NumberStar]<=(5)))
GO
ALTER TABLE [dbo].[Rating] CHECK CONSTRAINT [chk_rating]
GO
USE [master]
GO
