
.inform-zone {
    border-radius: 10px;
    padding: 25px;
}

.input-group {
    margin: 10px 0;
}

.cart-note {
    padding: 5px 20px;
    margin: 10px 0;
    background-color: yellow;
    color: rgb(146, 75, 75);
    font-style: italic;
    border-radius: 5px;
}

.pay-option {
    padding: 5px;
    margin-top: 1px;
    background-color: #D1D7DC;
}


    .pay-option .inputGroup {
        background-color: #fff;
        display: block;
        margin: 10px 0;
        position: relative;
    }

        .pay-option .inputGroup label {
            padding: 12px 30px;
            width: 100%;
            display: block;
            text-align: left;
            color: #3C454C;
            cursor: pointer;
            position: relative;
            z-index: 2;
            -webkit-transition: color 200ms ease-in;
            transition: color 200ms ease-in;
            overflow: hidden;
        }

            .pay-option .inputGroup label:before {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                content: '';
                background-color: #5562eb;
                position: absolute;
                left: 50%;
                top: 50%;
                -webkit-transform: translate(-50%, -50%) scale3d(1, 1, 1);
                transform: translate(-50%, -50%) scale3d(1, 1, 1);
                -webkit-transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
                transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
                opacity: 0;
                z-index: -1;
            }

            .pay-option .inputGroup label:after {
                width: 32px;
                height: 32px;
                content: '';
                border: 2px solid #D1D7DC;
                background-color: #fff;
                background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
                background-repeat: no-repeat;
                background-position: 2px 3px;
                border-radius: 50%;
                z-index: 2;
                position: absolute;
                right: 30px;
                top: 50%;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
                cursor: pointer;
                -webkit-transition: all 200ms ease-in;
                transition: all 200ms ease-in;
            }

        .pay-option .inputGroup input:checked ~ label {
            color: #fff;
        }

            .pay-option .inputGroup input:checked ~ label:before {
                -webkit-transform: translate(-50%, -50%) scale3d(56, 56, 1);
                transform: translate(-50%, -50%) scale3d(56, 56, 1);
                opacity: 1;
                border-radius: 10px;
            }

            .pay-option .inputGroup input:checked ~ label:after {
                background-color: #54E0C7;
                border-color: #54E0C7;
            }

        .pay-option .inputGroup input {
            width: 32px;
            height: 32px;
            -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
            order: 1;
            z-index: 2;
            position: absolute;
            right: 30px;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            cursor: pointer;
            visibility: hidden;
        }

    .pay-option .form {
        padding: 0 16px;
        max-width: 550px;
        font-size: 18px;
        font-weight: 600;
        line-height: 36px;
    }

.discount-btn {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
    background-color: #d41011;
    border-color: #d41011;
}

.order-btn {
    width: 100%;
    text-transform: uppercase;
}

.product-quantity {
    padding: 2px 10px;
    background-color: #bc925f;
    color: white;
    border-radius: 5px;
    margin-right: 5px;
}

.product-name {
    padding: 2px 5px;
    color: #bc925f;
    font-weight: 500;
}

.product-prices {
    padding: 2px 5px;
    color: #bc925f;
    font-weight: 500;
}

.product-cancel {
    padding: 2px 10px;
    background-color: white;
    border-radius: 50%;
    color: black;
    border-style: none;
    border: 1px solid grey;
}

.add-more {
    font-size: 12px;
}
