
.sticky-sidebar{
    top: 70px;
    position: -webkit-sticky;
    position: sticky;
    left: 0;
}

.sidebar{
    padding: 20px;
    background-color: white;
    display: block;
}

.sidebar ul {
    list-style-type: none;
}

.menu_scroll_link.active{
    color: #bc925f; 
}

.menu_scroll_link{
    line-height: 1.5;
}

.sidebar ul li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: #000;
    font-family: 'BebasNeue','Lato', "Times New Roman", seri;
    transition: .5s;
}

.sidebar ul li a:hover{
    color: #bc925f;
    text-decoration: none;
}

.border-right-columns::before{
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 100%;
    top: 0;
    background:#bc925f;
}

.menu-title{
    font-weight: 700;
    position: relative;
    margin-bottom: 30px;
    margin-top: 0;
    font-size: 42px;
}

.line-affter::after{
    content: '';
    height: 4px;
    background: #bc925f;
    width: 5%;
    display: block;
}

