@{
    ViewBag.Title = "Login";
    string message = ViewBag.Message;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="titile-bg" style="background: url('../Assets/image/bg_3.jpg')">
        <div class="text-shadow"></div>
    </div>

    <div class="container">

        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form" }))
        {
            @Html.AntiForgeryToken()
            if (!string.IsNullOrEmpty(message))
            {
                <div class="alert alert-danger" role="alert">
                    @message
                </div>
            }

            <div class="form-group">
                <label for="UserName">Tài khoản</label>
                <input type="text" placeholder="Nhập tài khoản" class="form-control" id="UserName" name="UserName" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <label for="Password">Mật khẩu</label>
                <input type="password" name="Password" placeholder="Nhập mật khẩu" class="form-control" id="Password">
            </div>
            <div class="d-flex justify-content-end">
                <label class="form-check-label" for="exampleCheck1">
                    <a>
                        Quên mật khẩu?
                    </a>
                </label>
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">Đăng nhập</button>
            </div>
        }
    </div>
</main>
